<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chqbook.vypaar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.PaymentConfirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".ui.PaymentReview"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".ui.OTPVerification"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"/>
    </application>

</manifest>